* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.comman-heading {
    font-size: 2.5rem !important;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
    font-weight: 200;
}

.comman-title {
    margin-bottom: 4.2rem;
}



/* navbar */
.nav-link {
    color: var(--bs-main-color);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--secondary-color) !important;
}

.text-light-gray {
    color: var(--bs-primary-color);
}





/* main section */

.profile-img {
    width: 20rem;
    border-radius: 1rem;
}

.profile-img:hover {
    box-shadow: rgba(11, 11, 11, 1) 0 8px 24px;
}

.imghov:hover {
    box-shadow: rgb(167, 166, 166, 0.7) 0 8px 24px;

}



.main-section .container {
    display: grid;
    place-items: center;
    height: inherit;
}

.bg-main {
    height: 80vh;
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

.bg-theme {

    color: var(--bs-supporting-color);
    background-image: none !important;
}

.custom-shape-divider-bottom-1690449397 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690449397 svg {
    position: relative;
    display: block;
    width: calc(106% + 1.3px);
    height: 121px;
}

.custom-shape-divider-bottom-1690449397 .shape-fill {
    fill: #FFFFFF;
}


/* skillls section */

.skills-section {
    padding: 6rem 0 3rem 0 !important;
}

/* .card-box:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
} */

/* Skills */

.bgr-color {
    background-color: var(--bs-main-primary);
}

.about-section .container {
    display: grid;
    place-items: center;
    height: inherit;
}


/* footer shape contact */

.contact-section {
    position: relative;
}

.contact-section .common-title {
    padding-top: 10rem;
}

.contact-section .form-section {
    width: 50%;
}

.custom-shape-divider-top-1684211116 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1684211116 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1684211116 .shape-fill {
    fill: var(--bs-main-color);
}

.btn {
    margin-bottom: 30px;
}

/* media q */


@media screen and (max-width: 998px) {
    .contact-section .common-title {
        padding-top: 10rem;
    }

    .contact-section .form-section {
        width: 100%;
    }
}



@media screen and (max-width :996px) {
    .profile-img {
        width: 15rem;
        border-radius: 1rem;
        margin-top: 20px;

    }

}

@media screen and (max-width: 998px) {

    h1 {
        font-size: 2.4rem;
        
    }

    section .common-heading {
        font-size: 2rem;
    }

    section .para-width {
        width: auto;
    }

    .main-section {
        height: 100vh;
    }

    .navbar-toggler {
        border-color: var(--bs-main-color);
    }

    .navbar-toggler-icon {
        background-color: var(--bs-main-color);
    }

    h2 {
        font-size: 2rem;
        margin-top: 20px;
        text-align: center;
    }

    .para {
        text-align: center;
    }


}


@media screen and (max-width: 372px) {
    
    .allbtn{
        margin-bottom: 50px;
    }

    .skilldist{
        margin-top: 95px;
    }
    
}